
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: white;
    font-family: "Playfair Display", serif;
}

/* ENCABEZADO */

header {
    background: #111;
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #c9a227;
}

header h1 {
    font-family: "Great Vibes", cursive;
    font-size: 75px;
    color: #d4af37;
    text-shadow: 0 0 15px #d4af37;
}

header p {
    letter-spacing: 8px;
    color: #eee;
}

nav {
    margin-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #d4af37;
}


/* PORTADA */

.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background:
        linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.8)),
        url("https://images.unsplash.com/photo-1518893883800-45cd0954574b?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;
}

.hero-text h2 {
    font-family: "Great Vibes", cursive;
    font-size: 75px;
    color: #d4af37;
}

.hero-text p {
    max-width: 600px;
    margin: 20px auto;
    font-size: 19px;
}

.boton {
    display: inline-block;
    padding: 14px 30px;
    background: #d4af37;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


/* JUEGOS */

.juegos {
    padding: 70px 30px;
    text-align: center;
}

.juegos > h2,
.galeria h2 {
    font-family: "Great Vibes", cursive;
    color: #d4af37;
    font-size: 65px;
    margin-bottom: 40px;
}

.contenedor-juegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.juego {
    background: #151515;
    border: 1px solid #d4af37;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    min-height: 400px;
    box-shadow: 0 0 20px rgba(212,175,55,.15);
}

.juego h3 {
    color: #d4af37;
    margin-bottom: 25px;
    font-size: 25px;
}

button {
    background: #d4af37;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px 0;
}

button:hover {
    background: #f1d675;
    transform: scale(1.05);
}


/* RULETA */

.ruleta {
    width: 180px;
    height: 180px;
    margin: auto;

    border-radius: 50%;

    background: conic-gradient(
        #b30000 0deg 30deg,
        #111 30deg 60deg,
        #b30000 60deg 90deg,
        #111 90deg 120deg,
        #b30000 120deg 150deg,
        #111 150deg 180deg,
        #b30000 180deg 210deg,
        #111 210deg 240deg,
        #b30000 240deg 270deg,
        #111 270deg 300deg,
        #b30000 300deg 330deg,
        #111 330deg 360deg
    );

    border: 8px solid #d4af37;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ruleta.girando {
    animation: girar 2s ease-out;
}

.centro {
    background: #d4af37;
    color: #111;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}


/* SIMBOLOS */

.slots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slots span {
    background: white;
    color: #111;
    width: 70px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    border-radius: 8px;
}


/* CARTAS */

.cartas {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carta {
    width: 70px;
    height: 100px;
    background: #8b0000;
    border: 3px solid #d4af37;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s;
}

.carta:hover {
    transform: translateY(-10px);
}

.dorso {
    font-size: 35px;
    color: #d4af37;
}


/* GALERIA */

.galeria {
    padding: 70px 30px;
    text-align: center;
    background: #101010;
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.imagenes img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #d4af37;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 40px;
    background: #050505;
}

footer h2 {
    font-family: "Great Vibes", cursive;
    color: #d4af37;
    font-size: 45px;
}

footer p {
    color: #aaa;
}